body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hero {
    text-align: center;
    padding: 50px;
    background-image: url("/img/breck.jpg");
        background-size: contain; /* Scale the background image to maintain its aspect ratio and fit within the div */
        background-position: center; /* Center the background image horizontally and vertically */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
        max-width: 100%; 
        max-height: 100%; 
    
}

.contact-info, .product-overview, .additional-info {
    text-align: center;
    padding: 20px;
}
